{% extends 'base.html' %}


{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts_system/style.css' %}">

<div class="post_list">
    
    {% if post_list %}

        <ul style="margin: 10px 5px 10px 5px;">
            {% for post in post_list %}

            <div class="post_card" style=" background-color: #E5FCF5; margin: 0px 5px 10px 5px;">

                <li style="list-style-type: none;">
                    <h1> <a href="{% url 'blog_post:blog_detail' post.id %}" class="title">{{ post.title }}</a> </h1>
                    <p>User: <a href="" class="user">{{ post.user.username }}</a> </p>
                    <p>Topic: <a href="" class="topic">{{ post.topic }} </a></p>
                    <p class="content">{{ post.content }}</p>
                    <p class="change-date">Published: {{ post.pub_date }} | Last Modified: {{ post.last_modified }} </p>
                    <p>Votes: {{ post.votes }} </p>
                    <button class="upvote" type="button">
                        Monkey enjoys this.
                    </button>
                </li>
                
            </div>

            {% endfor %}
        </ul>

    {% endif %}

</div>

{% endblock %}