/* Post List CSS */
.post_list{
    margin: 0;
}

/* Post Detail CSS */
.post_detail{
    margin: 15px 15px 0px 15px;
}

.post_card{
    padding: 15px;
    border: solid #255535;
    border-radius: 20px;
}

.post_card h1{
    color: #210124;
    border-bottom: solid #255535;

}

.content{
    margin: 10px 0px 10px 15px;
}

.post_card br{
    border-bottom: solid #255535;
}

.border{
    margin: 15px 0px 15px 0px;
    border-top: solid #255535;
}

.post_card a{
    padding: 2px;
    text-decoration: none;
}

.comment_section{
    margin: 15px 15px 0px 15px;
}