/* Post List CSS */
.blog_card h3{
    font-size: 35;
}

.blog_card ul{
    list-style-type: none;
}

.blog_card li{
    border: solid #255535;
    border-radius: 40px;
    padding: 0px 5px 15px 15px;
    margin: 15px 0 15px 0;
    width: 50%;
    overflow: hidden;
}

.blog_card a{
    text-decoration: none;
    text-align: left;
}

/* Post Detail CSS */
.post_detail{
    margin: 15px 15px 0px 15px;
}

.post_card{
    padding: 15px;
    border: solid #255535;
    border-radius: 20px;
}

.post_card h1{
    color: #210124;
    border-bottom: solid #255535;

}

.content{
    margin: 10px 0px 10px 15px;
}

.post_card br{
    border-bottom: solid #255535;
}

.border{
    margin: 15px 0px 15px 0px;
    border-top: solid #255535;
}

.post_card a{
    padding: 2px;
    text-decoration: none;
}

.comment_section{
    margin: 15px 15px 0px 15px;
}