/* Navigation Bar CSS */
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3DEC1;
}
.navbar li{
    float: left;
}
.navbar a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #210124;
    padding: 16px;
}

.navbar a:hover{
    background-color: #388050;
}
