{% extends 'base.html' %}

{% block title %} Mint's Tea Time {% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >

    <div class="home">

        {% if user.is_authenticated %}
            <h1>Hello, {{ user.username }}.</h1>
            <h2>Care for some tea?</h2>
            <a href="{% url 'blog_post:blog_home' %}">I wish to partake.</a>
            <a href="{% url 'logout' %}">I'll pass.</a>
        {% else %}
            <p>Please log in to participate.</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}

    </div>
{% endblock %}