{% extends 'base.html' %}

{% block title %} Mint's Tea Time {% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >

<div class="home">
    <div class="center-message">
        
        {% if user.is_authenticated %}
            <h1>Hello, {{ user.username }}.</h1>
            <h2>Care for some tea?</h2>
            <a href="{% url 'blog_post:blog_home' %}">Show my feed.</a>
            <a href="{% url 'logout' %}">Log out</a>
        {% else %}
            <p>Please <a href="{% url 'login' %}" style="text-decoration: dashed; color: #82ABA1;">log in</a> to participate.</p>
        {% endif %}

    </div>
</div>

{% endblock %}